body {
    width: 390px;
    height: 844px;
    margin: 0;
  }
  
a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

#container {
  position: relative;
  width: 390px;
  height: 844px;
  margin: 0px auto;
}

#bg {
  position: fixed;
  z-index: -20;
  top: 0px;
  left: 0px;
}

#back {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 30px;
}

#select {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 44px;
  left: 20px;
  top: 115px;
  background: #ffa41b;
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
}

#scan {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 44px;
  left: 210px;
  top: 115px;
  background: #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
}

#line {
  position: absolute;
  width: 392px;
  height: 4px;
  left: -2px;
  top: 158px;
  background: #ffa41b;
  border-radius: 0px;
}

#checkbox-container {
  position: relative;
  width: 140px;
  height: 40px;
  left: 50px;
  top: 190px;
  background: #c6c5c5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-right: 20px;
  margin-bottom: 25px;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  cursor: pointer;
}

.checkbox-container.selected,
.checkbox-input:checked ~ .checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f86f03;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  width: 140px;
  height: 40px;
  justify-content: center;
  margin: 0;
}

/*나브바 고정*/

.nav {
  display: flex;
  justify-content: space-around;
  top: 80px;
  left: 0px;
  position: relative;
  z-index: 3;
}

#nav_add {
  position: fixed;
  top: 734px;
  left: 160px;
  z-index: 2;
}

#nav {
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 2;
}

.nav_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 784px;
  left: 29px;
}
.nav_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 782px;
  left: 95px;
}

.nav_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 783px;
  right: 95px;
}

.nav_my {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 784px;
  right: 29px;
}

.nav p {
  color: #ffffff;
  margin-top: 2px;
  font-size: small;
}

.nav_board p {
  color: #525fe1;
}