html,
body {
    margin: 0;
    padding: 0;
    letter-spacing: -1.3px;
}

#back {
    width: 41px;
    height: 40px;
    margin: 20px 25px;
}

#pageName {
    color: #414141;
    font-size: 25px;
    font-weight: 600;
    margin: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#title {
    width: 290px;
    height: 52px;
    border-radius: 30px;
    border: none;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(0, 0, 0, 0.2);
    margin: 15px 0px 20px 0px;
    padding-left: 20px;
}

#content {
    width: 290px;
    height: 292px;
    border-radius: 30px;
    border: none;
    background: #fff;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0px 20px 0px;
    padding-left: 20px;
}

.input-box {
    position: relative;
}

#content::placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
}

input[type="text"].styled-input::placeholder {
    color: #878787;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
    text-indent: 5em;
}

#photo-btn {
    width: 300px;
    height: 43px;
    border-radius: 20px;
    border: none;
    background: #525fe1;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    background-image: url('{% static "img/camera.png" %}');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 0px 20px 0px;
    color: #ffffff;
    text-align: center;
}

#photo {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#submit {
    width: 118.825px;
    height: 39px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 12px;
    background: #f86f03;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 15px 0px 0px 0px;
}

/*나브바 고정*/
#bg {
    position: fixed;
    z-index: -20;
    top: 0px;
    left: 0px;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    bottom: 0px;
    left: 0px;
    position: relative;
    z-index: 3;
    letter-spacing: 0;
}

#nav_add {
    position: fixed;
    top: 734px;
    left: 160px;
    z-index: 2;
}

#nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 2;
}

.nav_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 784px;
    left: 29px;
}
.nav_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 782px;
    left: 95px;
}

.nav_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 783px;
    right: 95px;
}

.nav_my {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 784px;
    right: 29px;
}

.nav p {
    color: #ffffff;
    margin-top: 2px;
    font-size: small;
}

.nav_board p {
    color: #525fe1;
}
