body {
    margin: 0;
    padding: 0;
    letter-spacing: -1.3px;
}

.wrap {
    width: 390px;
    height: 800px;
    top: 80px;
    overflow: hidden;
    background: #ffa41b;
    transform: translate3d(0, 0, 0);
    position: fixed;
    z-index: -3;
}

.wave {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 60%;
    left: -100px;
    border-radius: 43%;
    animation: drift 8s infinite linear;
    background: #525fe1;
}

.wave_2 {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 65%;
    left: -100px;
    border-radius: 43%;
    animation: drift 8s infinite linear;
    background: #ffffff;
}

.wave_reverse {
    width: 650px;
    height: 650px;
    position: absolute;
    top: -65%;
    right: -100px;
    border-radius: 43%;
    animation: drift_re 8s infinite linear;
    background: #f86f03;
}

.wave_reverse2 {
    width: 650px;
    height: 650px;
    position: absolute;
    top: -70%;
    right: -100px;
    border-radius: 43%;
    animation: drift_re 8s infinite linear;
    background: #ffffff;
}

@keyframes drift_re {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    width: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 295px;
    left: 126px;
}

#logo_white {
    width: 117.074px;
    height: 96px;
    margin-bottom: 20px;
}

#logo_text {
    width: 138px;
    height: 61px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 258px;
    height: 135px;
    z-index: 3;
    bottom: 40px;
    left: 66px;
}

#kakao {
    width: 258px;
    height: 35px;
    border-radius: 20px;
    background: #fee500;
    color: #423630;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 10.5px;
    box-sizing: border-box;
    background-image: url(/img/kakao_logo.png);
    background-repeat: no-repeat;
    background-position: 15px 9px;
    background-size: 20px;
    animation: fadeInUp 2s;
    animation-delay: 0s;
}

#login {
    width: 258px;
    height: 35px;
    border-radius: 20px;
    background: #d9d9d9;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 10.5px;
    box-sizing: border-box;
    animation: fadeInUp 2s;
    animation-delay: 0.1s;
}

#signup {
    width: 258px;
    height: 35px;
    border-radius: 20px;
    background: #d9d9d9;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 10.5px;
    box-sizing: border-box;
    animation: fadeInUp 2s;
    animation-delay: 0.2s;
}
