<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./css/doctor_login.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
            rel="stylesheet"
        />
        <title>로그인</title>
    </head>
    <body>
        <!--배경-->
        <img src="./img/doctor_bg.png" id="bg" />
        <!--뒤로가기 버튼-->
        <a href="./main.html"><img src="./img/doctor_back.png" id="back" /></a>
        <section class="box">
            <h1 id="title">어서오세요</h1>
            <img src="./img/logo_doctor.png" id="logo" />
            <form
                action="{% url 'accounts:login' %}"
                method="POST"
                class="form"
            >
                <!--{% csrf_token %}-->
                <input
                    type="text"
                    name="username"
                    value=""
                    placeholder="아이디"
                    id="username"
                />
                <input
                    type="password"
                    name="password"
                    value=""
                    placeholder="비밀번호"
                    id="password"
                />
                <input type="submit" type="submit" value="로그인" id="submit" />
            </form>
        </section>
        <!--<a href="{% url 'accounts:signup' %}" method="POST">회원가입</a>
        {% if error %}
        <script>
            alert("{{ error }}");
        </script>
        {% endif %}-->
    </body>
</html>
