<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./css/doctor_info.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
            rel="stylesheet"
        />
        <title>의사 정보 보기</title>
    </head>
    <body>
        <a href="./main.html"><img src="./img/back.png" id="back" /></a>
        <div class="doctor_box">
            <div class="doctor_info">
                <img src="./img/doctor_img.png" id="doctor_img" />
                <div class="doctor_text">
                    <div id="doctor_name">김덕성 의사</div>
                    <div id="doctor_hospital">멋쟁이사자처럼병원</div>
                </div>
            </div>
            <div class="doctor_intro">
                답변에 의문이 있으시거나 더 자세한 상담이 필요하신 경우, 아래의
                병원으로 문의 부탁드립니다. ^^
            </div>
        </div>
        <img src="./img/connect.png" id="connect" />
        <div class="doctor_hos">
            <div id="doctor_hos_name">멋쟁이사자처럼병원</div>
            <div id="doctor_hos_loca">서울특별시 목동 양재대로33길 135</div>
            <div id="doctor_hos_tel">02-123-3456</div>
            <img src="./img/map.png" id="doctor_hos_map" />
        </div>
        <!--나브바-->
        <div class="nav">
            <div class="nav_main">
                <a href=""><img src="./img/home.png" alt="home" /></a>
                <p>홈</p>
            </div>

            <div class="nav_info">
                <a href=""><img src="./img/report.png" alt="report" /></a>
                <p>건강정보</p>
            </div>

            <a href=""><img src="./img/plus.png" alt="plus" id="nav_add" /></a>

            <div class="nav_board">
                <a href="{% url 'board:board-main' %}"
                    ><img src="./img/board_purple.png" alt="board"
                /></a>
                <p>질문게시판</p>
            </div>

            <div class="nav_my">
                <a href="{% url 'mypage:my' %}"
                    ><img src="./img/my.png" alt="my"
                /></a>
                <p>내 정보</p>
            </div>
        </div>
        <img src="./img/nav.svg" id="nav" />
    </body>
</html>
