<!-- upload.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/index.css' %}" rel="stylesheet" />
        <title>Main</title>
    </head>
    <body>
        <img src="{% static 'img/bg_main.png' %}" id="bg" />
        <a href="{% url 'explain' %}"
            ><img
                src="{% static 'img/logo_purple2.png' %}"
                alt="logo_purple2"
                id="logo"
        /></a>
        <div class="content">
            <div class="add">
                <h3>내 건강 등록하기</h3>
                <div class="add_container">
                    <div class="add_con">
                        <a href="{% url 'HBapp:add' %}" class="add_link">
                            <img
                                src="{% static 'img/plus2.svg' %}"
                                alt="add"
                                class="add_img"
                        /></a>
                        <div class="add_text">
                            <p>
                                건강검진표를 등록하고 <br />
                                나의 건강 키워드를 확인하세요
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <h3>오늘의 건강 정보</h3>
                <p>맞춤형 건강정보를 얻고 퀴즈도 풀어보세요!</p>
                <div class="info_img">
                    <a href="{% url '' %}"
                        ><img
                            src="{% static 'img/card1.png' %}"
                            alt="info_img1"
                    /></a>
                    <a href="{% url '' %}"
                        ><img
                            src="{% static 'img/card4.png' %}"
                            alt="info_img2"
                    /></a>
                    <a href="{% url '' %}"
                        ><img
                            src="{% static 'img/card6.png' %}"
                            alt="info_img3"
                    /></a>
                </div>
            </div>
            <div class="board">
                <h3>건강 질문하기</h3>
                <div class="board_container">
                    <a href="{% url 'board:write' %}"
                        ><img src="{% static 'img/qa.svg' %}" alt="board"
                    /></a>
                    <div class="board_text">
                        <p>
                            내 건강에 대해 질문하고 <br />
                            전문가에게 답변을 받아보세요
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_main">
                <a href="{% url 'HBapp:index' %}"
                    ><img src="{% static 'img/home_purple.svg' %}" alt="home"
                /></a>
                <p>홈</p>
            </div>

            <div class="nav_info">
                <a href="{% url '' %}"
                    ><img src="{% static 'img/report.png' %}" alt="report"
                /></a>
                <p>건강정보</p>
            </div>

            <a href="{% url 'HBapp:add' %}"
                ><img src="{% static 'img/plus.png' %}" alt="plus" id="nav_add"
            /></a>

            <div class="nav_board">
                <a href="{% url 'board:board-main' %}"
                    ><img src="{% static 'img/board.png' %}" alt="board"
                /></a>
                <p>질문게시판</p>
            </div>

            <div class="nav_my">
                <a href="{% url 'mypage:my' %}"
                    ><img src="{% static 'img/my.png' %}" alt="my"
                /></a>
                <p>내 정보</p>
            </div>
        </div>
        <img src="{% static 'img/nav.svg' %}" id="nav" />
    </body>
    <script>
        const add_delete1 = document.querySelector(".add_link");
        const add_delete2 = document.querySelector(".add_img");
        const add_delete3 = document.querySelector(".add_text");
        const add_delete4 = document.querySelector(".add_text p");
        const add_delete5 = document.querySelector(".add_con");
        const add_button = document.querySelector(""); //result랑 연결해야함
        add_button.addEventListener("click", () => {
            const add_content = document.createElement("div");
            add_content.className = "add_content";
            const add_bg = document.createElement("div");
            add_bg.className = "add_bg";

            const colors = ["#FFA41B", "#035956", "#F86F03", "#525FE1"];
            const randomColor =
                colors[Math.floor(Math.random() * colors.length)];
            add_bg.style.backgroundColor = randomColor;

            const add_title = document.createElement("div");
            add_title.className = "add_title";
            add_title.textContent = "키워드";
            add_content.appendChild(add_bg);
            add_bg.appendChild(add_title);

            const addContainer = document.querySelector(".add_container");
            addContainer.appendChild(add_content);

            if (
                add_delete1 &&
                add_delete2 &&
                add_delete3 &&
                add_delete4 &&
                add_delete5
            ) {
                add_delete1.remove();
                add_delete2.remove();
                add_delete3.remove();
                add_delete4.remove();
                add_delete5.remove();
            }
        });
    </script>
</html>
