<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/info.css' %}" rel="stylesheet" />
    <title>맞춤형 건강 정보</title>
  </head>
  <body>
    <div id="container">
      <img id="bg" src="{% static 'img/bg_main.png' %}" />
      <a href="{% url 'HealthBridge:home' %}"
        ><img id="back" src="{% static 'img/back.png' %}"
      /></a>
      <a href="{% url '' %}" id="info">맞춤형 건강정보</a>
      <a href="{% url 'Quiz:' %}" id="quiz">건강퀴즈 O/X</a>
      <div id="line"></div>
      <div id="box"></div>
      <div id="checkbox-container">
        <input
          type="radio"
          name="category"
          id="category_고혈압"
          class="checkbox-input"
          onclick="toggleCheckbox(this)"
        />
        <label for="category_고혈압" class="checkbox-label">고혈압</label>
      </div>
      <div id="checkbox-container">
        <input
          type="radio"
          name="category"
          id="category_여성"
          class="checkbox-input"
          onclick="toggleCheckbox(this)"
        />
        <label for="category_여성" class="checkbox-label">여성</label>
      </div>
      <div id="checkbox-container">
        <input
          type="radio"
          name="category"
          id="category_비만"
          class="checkbox-input"
          onclick="toggleCheckbox(this)"
        />
        <label for="category_비만" class="checkbox-label">비만</label>
      </div>
      <div id="checkbox-container">
        <input
          type="radio"
          name="category"
          id="category_스트레스"
          class="checkbox-input"
          onclick="toggleCheckbox(this)"
        />
        <label for="category_스트레스" class="checkbox-label">스트레스</label>
      </div>
      <div id="checkbox-container">
        <input
          type="radio"
          name="category"
          id="category_우울"
          class="checkbox-input"
          onclick="toggleCheckbox(this)"
        />
        <label for="category_우울" class="checkbox-label">우울</label>
      </div>
      <div id="card">
        <div id="card-item">
          <img src="{% static 'img/card1.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 1편</span>
        </div>
        <div id="card-item">
          <img id="" src="{% static 'img/card2.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 2편</span>
        </div>
        <div id="card-item">
          <img id="" src="{% static 'img/card3.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 3편</span>
        </div>
        <div id="card-item">
          <img id="" src="{% static 'img/card4.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 4편</span>
        </div>
        <div id="card-item">
          <img id="" src="{% static 'img/card5.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 5편</span>
        </div>
        <div id="card-item">
          <img id="" src="{% static 'img/card6.png' %}" alt="" />
          <span>여성이 병원에서 겪는 일들 6편</span>
        </div>
      </div>

      <!-- nav -->
      <div class="nav">
        <div class="nav_main">
          <a href="{% url ':home' %}">
            <img src="{% static 'img/home.png' %}" alt="home"
          /></a>
          <p>홈</p>
        </div>

        <div class="nav_info">
          <a href="{% url '' %}"
            ><img src="{% static 'img/report_b.png' %}" alt="report"
          /></a>
          <p>건강정보</p>
        </div>

        <a href="{% url 'HBapp:keyword_add' %}"
          ><img src="{% static 'img/plus.png' %}" alt="plus" id="add"
        /></a>

        <div class="nav_board">
          <a href="{% url 'board:board-main' %}"
            ><img src="{% static 'img/board.png' %}" alt="board"
          /></a>
          <p>질문게시판</p>
        </div>

        <div class="nav_my">
          <a href="{% url 'mypage:my' %}"
            ><img src="{% static 'img/my.png' %}" alt="my"
          /></a>
          <p>내 정보</p>
        </div>
      </div>
      <img src="{% static 'img/nav.svg' %}" id="nav" />
    </div>
    <script>
      function toggleCheckbox(input) {
        var checkboxes = document.querySelectorAll(".checkbox-input");
        checkboxes.forEach(function (checkbox) {
          checkbox.parentNode.classList.remove("selected");
        });

        if (input.checked) {
          input.parentNode.classList.add("selected");
        }
      }
    </script>
  </body>
</html>
