<a href="{% url 'HBapp:keyword_add' %}">직접키워드 선택</a>
<a href="{% url 'HBapp:text_extraction' %}">스캔하기</a>

<form action="{% url 'HBapp:keyword_add' %}" method="post">
    {% csrf_token %}
    {% for tag in all_tags %}
    {% if tag in user_tags %}
        <input type="checkbox" name="addTag" value="{{ tag.pk }}" checked>{{ tag.name }}<br>
    {% else %}
        <input type="checkbox" name="addTag" value="{{ tag.pk }}">{{ tag.name }}<br>
    {% endif %}
{% endfor %}
    <input type="submit" value="저장">
</form>
