<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link href="{% static 'css/gallery.css' %}" rel="stylesheet" />
    <title>gallery</title>
  </head>
  <body>
    <img src="{% static 'img/bg_basic.png' %}" id="bg" />
    <a href="{% url 'HBapp:index' %}">
      <img src="{% static 'img/back.png' %}" id="back"
    /></a>
    <div class="select">
      <input type="submit" value="파일 선택하기" id="select" />
      <p>선택된 파일 없음</p>
    </div>
    <div class="submit">
      <input type="submit" value="등록하기" id="submit" />
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>이미지 업로드</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">업로드</button>
    </form>
</body>
</html> -->
