body {
    margin: 0;
    padding: 0;
    letter-spacing: -1.3px;
}

#back {
    position: fixed;
    z-index: 3;
    width: 41px;
    height: 40px;
    top: 20px;
    left: 25px;
}

#bg {
    position: fixed;
    z-index: -20;
    top: 0px;
    left: 0px;
}

.box {
    width: 290px;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 50px;
}

#title {
    color: #414141;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 45px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#fullname {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}


#userid {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

#password {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

#password2 {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

#doctornum {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

#id_hospital {
    width: 258px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    margin-bottom: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    color: lightslategray;
    font-size: 13.5px;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#id_hospital option {
    font-size: 12px;
    outline: none;
}

input[type="text"].styled-input::placeholder {
    color: #414141;
    font-size: 12px;
    font-weight: 700;
}

#submit {
    width: 258px;
    height: 45px;
    border-radius: 100px;
    background: #a7f;
    box-shadow: 6px 5px 13px -1px rgba(248, 111, 3, 0.6);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}
