html,
body {
    margin: 0;
    padding: 0;
    letter-spacing: -1.3px;
}

body {
    background-image: url("/static/img/doctor_main.png");
    background-repeat: no-repeat;
}

#back {
    width: 41px;
    height: 40px;
    margin: 20px 25px;
}

.titleBox {
    display: flex;
    flex-direction: row;
    margin: 35px 0px 15px 0px;
}

#board_q {
    width: 47px;
    height: 64px;
}

.title {
    color: #414141;
    font-size: 22px;
    font-weight: 600;
    height: 25px;
    margin: 30px 0px 0px 15px;
}

.content {
    width: 342px;
    border-radius: 20px;
    border: 2px solid #97deff;
    background: #fff;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    color: #414141;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 24px 0px 24px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

#connect {
    width: 30px;
    margin-left: 45px;
}

.doctor {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 5px 60px 10px 60px;
}

#doctor_img {
    width: 42px;
    height: 42px;
}

#doctor_name {
    color: #414141;
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
    box-sizing: border-box;
    padding-top: 10px;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    color: #ffffff;
}

.has_answer {
    width: 342px;
    border-radius: 30px;
    background: #a7f;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 24px 0px 24px;
    padding: 25px 20px;
    box-sizing: border-box;
}

#doctor_answer {
    width: 342px;
    height: 131px;
    border-radius: 30px;
    border: none;
    background: #a7f;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 24px 0px 24px;
    padding: 25px 20px;
    box-sizing: border-box;
}

#submit {
    width: 118.825px;
    height: 39px;
    border-radius: 20px;
    border: none;
    background: #97deff;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 24px;
}

input[type="text"]::placeholder {
    color: #ffffff;
    font-size: 15px;
    font-weight: 800;
}

.prev {
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #414141;
    font-size: 12px;
    font-weight: 600;
    margin: 100px 50px 10px 50px;
}

#prev_text {
    padding: 10px;
}

#prev_post {
    width: 237px;
    height: 34px;
    border-radius: 30px;
    background: #d9d9d9;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #414141;
}

.next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #414141;
    font-size: 12px;
    font-weight: 600;
    margin: 0px 50px 50px 50px;
}

#next_text {
    padding: 10px;
}

#next_post {
    width: 237px;
    height: 34px;
    border-radius: 30px;
    background: #d9d9d9;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 40px 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #414141;
}
