a {
    text-decoration: none;
    color: inherit;
}

#bg {
    position: fixed;
    z-index: -20;
    top: 0px;
    left: 0px;
}
p {
    display: inline-flex;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    top: 80px;
    left: 0px;
    position: relative;
    z-index: 3;
}

#nav_add {
    position: fixed;
    bottom: 40px;
    left: 160px;
    z-index: 2;
}

#nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

.nav_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 25px;
}
.nav_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 95px;
}

.nav_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 240px;
}

.nav_my {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 330px;
}

.nav p {
    color: #ffffff;
    margin-top: 2px;
    font-size: small;
}

.nav_main p {
    color: #525fe1;
}
